# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [ ]:
num1 = 228
num2 = 228
print(id(num1) == id(num2))

True

Змінні посилаються на один об'єкт у випадку збереження зарезервованих значень з діапазону -5 - 256.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
isTrue = True
print(isinstance(isTrue, bool))
print(isinstance(isTrue, int))
print(isinstance(isTrue, float))

True
True
False

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [ ]:
num1 = 23
num2 = -7.15
print(num1 + num2)
print(num1 - num2)
print(num1 / num2)
print(num1 * num2)
print(num1 % num2)
print(num1 // num2)
print(pow(num1, num2))

15.85
30.15
-3.2167832167832167
-164.45000000000002
-5.600000000000001
-4.0
1.8350418468089677e-10

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [ ]:
print(int(num2))
print(int(True))
print(int(False))

-7
1
0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [ ]:
str1 = ""
str2 = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [ ]:
raw_str1 = 'raw text'
raw_str2 = r'raw text\''
print(raw_str1)
print(raw_str2)

raw text
raw text\'

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [ ]:
name = "Andrii"
surname = "Prokofiev"
print(f"Hi, i'm {name} {surname}")

Hi, i am Andrii Prokofiev

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [ ]:
dog_str = "My dog is crazy"
dog_list = dog_str.split()
print(dog_list)

['My', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [ ]:
list1 = [str()] * 5
list2 = ['My', 'dog', 'is', 'crazy']
print(len(list1))
print(len(list2))

5
4

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [ ]:
list1 = [str()] * 5
list2 = ['My', 'dog', 'is', 'crazy']
list1.append(list2)
print(list1)

['', '', '', '', '', ['My', 'dog', 'is', 'crazy']]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [ ]:
list1 = [['Lvivske', 'Rizdvyane']] * 5
print(list1[-1][0])

Lvivske

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [ ]:
list1 = [str(), float()] * 5
list2 = list1[2:8]
print(list1)

['', 0.0, '', 0.0, '', 0.0]

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [ ]:
tuple1 = ("1 element",)
print(isinstance(tuple1, tuple))

True

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Список змінний, кортеж незмінний. Список може включати різні типи, кортеж лише один тип на інстанс. Список повільніший, ніж кортеж. Список декларується квадратники дужками, коли кортеж - округлими. Обидва типи підтримують індексацію. Кортеж доречно використовувати для угрупування даних одного типу, коли список для збереження різнотипової інформації.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [ ]:
tuple1 = (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3)
tuple2 = tuple1[-1:0:-2]
print(tuple2)

(0.3, 8.3, 6.3, 4.3, 2.3)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [ ]:
set1 = set()
set1.add('My')
set1.add('dog')
set1.add('is')
set1.add('crazy')
print(set1)

{'dog', 'is', 'crazy', 'My'}

Сам об'єкт множини є змінним, адже постійно змінює збережені дані. В свою чергу, дані, що містяться в множині, незмінні.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [ ]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set1 = set(my_list)
print(set1)

{1, 2, 67, 8, 9}

Множина не дає змоги зберігати неунікальні значення.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [ ]:
set1 = set(['My', 'dog', 'is', 'crazy'])
set2 = set(['My', 'name', 'is', 'Andrii'])
print(set1.union(set2))
print(set1.difference(set2))
print(set1.intersection(set2))
print(set1.symmetric_difference(set2))
print(set1.isdisjoint(set2))

{'dog', 'My', 'is', 'name', 'crazy', 'Andrii'}
{'crazy', 'dog'}
{'is', 'My'}
{'dog', 'name', 'Andrii', 'crazy'}
False

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [ ]:
my_dict = {}
my_dict[1] = True
my_dict[2.0] = False
my_dict["three"] = True
my_dict[False] = False
print(my_dict)

{1: True, 2.0: False, 'three': True, False: False}

Ні, адже список - mutable i не літерал, не відповідає умовам ключа.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [ ]:
dict1 = { "deep" : "value" }
dict2 = { "middle" : dict1 }
dict3 = { "surface" : dict2 }
print(dict3.get("surface").get("middle").get("deep"))

value

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.